<div class = 'posts_user_container'>
  <div class = 'post_user_container'>
    <div class = 'post_user_container_info'>
      <p class = 'post_user_container_info_username'> Post #<%= Post.where(user_id: params[:user_id]).find_index(@post) + 1 %>  by <%= @user.name%>  </p>
      <p class = 'post_user_container_info_comment'> Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %> </p>
    </div>
    <div class = 'post_user_container_text' >
        <%= @post.text %>
    </div>
  </div>
  <div class = 'user_comment'>
    <% comments = Comment.all.where(post_id: @post.id) %>
    <% comments.each do |comment|%>
      <% user = User.all.find(comment.user_id) %>
      <p> <%= user.name %>: <%= comment.text %> </p>
    <%end%>
  </div>
</div>